In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("lda_data_all.csv", header=None)

In [3]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.0,0.0,0.213682,0.0,0.0,0.20687,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,NaN
1,0.0,0.0,0.000000,0.0,0.0,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.374168,0.0,0.0,0.0,0.0,0.305832,NaN
2,0.0,0.0,0.000000,0.0,0.0,0.00000,0.238872,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,NaN

In [4]:
df = df.drop(50,1)

In [5]:
df.shape

(808580, 50)

In [6]:
numq = df.shape[0]/2
df_1 = df.iloc[:numq, :]
df_2 = df.iloc[numq:, :]
print df_1.shape
print df_2.shape

(404290, 50)
(404290, 50)

In [7]:
df_1.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.0,0.0,0.213682,0.0,0.000000,0.20687,0.000000,0.000000,0.00,0.0,...,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.00,0.0,...,0.00,0.0,0.0,0.0,0.374168,0.0,0.000000,0.0,0.0,0.305832
2,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.238872,0.000000,0.00,0.0,...,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.34,0.0,...,0.34,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.109493,0.00000,0.000000,0.374393,0.00,0.0,...,0.00,0.0,0.0,0.0,0.000000,0.0,0.110434,0.0,0.0,0.000000

In [8]:
df_2 = df_2.reset_index().drop('index',1)

In [9]:
df_temp1 = pd.concat([df_1, df_2], 1)

In [10]:
df_temp1.shape

(404290, 100)

In [11]:
df_text = pd.read_csv("train.csv").fillna("")
df_text.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [12]:
df_temp1['is_duplicate'] = df_text['is_duplicate']

In [13]:
df_temp1.shape

(404290, 101)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import normalize
from sklearn import svm

In [15]:
X = df_temp1.iloc[:,0:100].values
y = df_temp1.iloc[:,100:].values.ravel()

In [16]:
print type(X), type(y)

<type 'numpy.ndarray'> <type 'numpy.ndarray'>

In [17]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=.33, random_state=42)

In [19]:
%%time
clf = RandomForestClassifier(max_depth=20, n_estimators=50, max_features=20)
clf.fit(X_train,y_train)

Wall time: 1min 5s

In [20]:
score = clf.score(X_test, y_test)
print score

0.662641662169

In [21]:
cnf_matrix = confusion_matrix(y_test, clf.predict(X_test))

In [22]:
cnf_matrix

array([[81837,  2138],
       [42871,  6570]])

In [23]:
X_train_norm = normalize(X_train)

In [24]:
%%time
clf = svm.SVC()
clf.fit(X_train_norm,y_train)

Wall time: 2d 2h 42min 45s

In [25]:
X_test_norm = normalize(X_test)
cnf_matrix = confusion_matrix(y_test, clf.predict(X_test_norm))
cnf_matrix

array([[83975,     0],
       [49441,     0]])